# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex
*.maf
*.mtc
*.mtc0
*.ptc
*.aux
*.lof
*.log
*.lot
*.synctex.gz
*.toc
*.dvi
docs/algorithm-design.pdf
docs/main.pdf
docs/system-design-document.pdf

# Qt Creator
build/
build-cupid-Desktop-Debug/
build-cupid-Desktop-Release/
*.autosave
*.pro.user
